
<%= simple_form_for @card do |f| %>
<% if @card.errors.any? %>
  <% @card.errors.messages.values.each do |msg| %>
    <%msg.each do  |m| %>
    <li><%= m %></li>
    <%end %>
  <%end %>
  <%= debug(@card.errors.messages) %>
<% end %>


  <p><%= f.label "* Вопрос:" %></p>
  <p><%= f.input :original_text, label: false, placeholder: "не больше 200 символов" %></p>
  <p><%= f.label "* Ответ:" %></p>
  <p><%= f.input :translated_text, label: false, placeholder: "не больше 200 символов" %></p>
  <p><% f.date_field :review_date %><br>
  <p><%= f.button :submit, "Создать" %></p>
<% end %>
