<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Header Section -->
  <div class="header">
   <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">New Project</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
   </div>
  </div>
 </div>


    <title>Флэшкарточкер</title>
  </head>
   <body>
    <section id="container">

      <header class="clearfix">
        <h1>Флэшкарточкер</h1>
        <ul class="navigation-links">
           <%= link_to "Все карточки", cards_path %>
           <li><a href="#">Добавить карточку</a></li>
        </ul>
      </header>

      <%= yield %>

    </section>
  </body>
</html>
